body {
    text-align: center;
    background-color: #7b86a4;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
  .w {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  }
  
  .a {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  
  }
  
  .s {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  
  }
  
  .d {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  
  }
  
  .j {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  }
  
  .k {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  
  }
  
  .l {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhyrcFIhtl_j-yljSVAXSq0uLKbsxXYlxbw&usqp=CAU");
  
  }
  
  .set{
    margin: 10% auto;
    display: grid;
    justify-content: center ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }